{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "source-type": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
}
